env/**
!env/Sample.env
pgdata/**
inphp/e/**
!inphp/e/.gitkeep
inphp/g/**
!inphp/g/.gitkeep
inphp/l/**
!inphp/l/.gitkeep
inphp/m/**
!inphp/m/.gitkeep
inphp/o/**
!inphp/o/.gitkeep
inphp/p/**
!inphp/p/.gitkeep
inphp/project/**
!inphp/project/.gitkeep
inphp/s/**
!inphp/s/.gitkeep
inpostgis/**
!inpostgis/postgresql_calendar_extension.sql
!inpostgis/postgresql_public_backup.sql
!inpostgis/postgresql_calendar_extension_update**

outpostgis/**
!outpostgis/.gitkeep

src/private/development/**
!src/private/development/.gitkeep
src/private/personal-development/**
!src/private/personal-development/.gitkeep
src/private/personal-production/**
!src/private/personal-production/.gitkeep
src/private/production/**
!src/private/production/.gitkeep
src/vendor/**
