.env
html/asset/*
!html/asset/application**
!html/asset/application/dependency
html/asset/application/dependency/*
!html/asset/application/dependency
!html/asset/application/dependency/.gitkeep
html/asset/application/dependency/css/*
!html/asset/application/dependency/css
!html/asset/application/dependency/css/.gitkeep
html/asset/application/dependency/images/*
!html/asset/application/dependency/images
!html/asset/application/dependency/images/.gitkeep
html/asset/application/dependency/js/*
!html/asset/application/dependency/js
!html/asset/application/dependency/js/.gitkeep
html/asset/application/dependency/js/standalone/*
!html/asset/application/dependency/js/standalone
!html/asset/application/dependency/js/standalone/.gitkeep
html/asset/tile/*
!html/asset/tile
!html/asset/tile/.gitkeep
inphp/e/**
!inphp/e/.gitkeep
inphp/g/**
!inphp/g/.gitkeep
inphp/l/**
!inphp/l/.gitkeep
inphp/m/**
!inphp/m/.gitkeep
inphp/o/**
!inphp/o/.gitkeep
inphp/p/**
!inphp/p/.gitkeep
inphp/project/**
!inphp/project/.gitkeep
inphp/s/**
!inphp/s/.gitkeep
inpostgis/**
!inpostgis/postgresql_calendar_extension.sql
!inpostgis/postgresql_public_backup.sql
!inpostgis/postgresql_calendar_extension_update**
module/**
!module/.gitkeep
outpostgis/**
!outpostgis/.gitkeep
pgdata/**
.php-cs-fixer.cache
private/development/**
!private/development/.gitkeep
private/personal-development/**
!private/personal-development/.gitkeep
private/personal-production/**
!private/personal-production/.gitkeep
private/production/**
!private/production/.gitkeep
