.env
html/module/**
!html/module/.gitkeep
html/module/application/dependency/*
!html/module/application/dependency/**/
!html/module/application/dependency/.gitkeep
html/module/application/dependency/css/**
!html/module/application/dependency/css/.gitkeep
html/module/application/dependency/images/**
!html/module/application/dependency/images/.gitkeep
html/module/application/dependency/js/*
!html/module/application/dependency/js/**/
!html/module/application/dependency/js/.gitkeep
html/module/application/dependency/js/standalone/**
!html/module/application/dependency/js/standalone/.gitkeep
html/tile/**
!html/tile/.gitkeep
inphp/e/**
!inphp/e/.gitkeep
inphp/g/**
!inphp/g/.gitkeep
inphp/l/**
!inphp/l/.gitkeep
inphp/m/**
!inphp/m/.gitkeep
inphp/o/**
!inphp/o/.gitkeep
inphp/p/**
!inphp/p/.gitkeep
inphp/project/**
!inphp/project/.gitkeep
inphp/s/**
!inphp/s/.gitkeep
inpostgis/**
!inpostgis/postgresql_calendar_extension.sql
!inpostgis/postgresql_public_backup.sql
!inpostgis/postgresql_calendar_extension_update**
module/**
!module/.gitkeep
outpostgis/**
!outpostgis/.gitkeep
pgdata/**
.php-cs-fixer.cache
private/development/**
!private/development/.gitkeep
private/personal-development/**
!private/personal-development/.gitkeep
private/personal-production/**
!private/personal-production/.gitkeep
private/production/**
!private/production/.gitkeep
