@font-face {
    font-family: 'Fredericka the Great';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/asset/font/frederickathegreat.woff2') format('woff2');
}

/* https://github.com/cyrealtype/Lora-Cyrillic/releases/tag/v3.005 */

@font-face {
    font-family: 'Lora';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('/asset/font/lora-semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'Lora';
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    src: url('/asset/font/lora-semibolditalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Lora';
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url('/asset/font/lora-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Lora';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/asset/font/lora-regular.woff2') format('woff2');
}

/* https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=cancel,download,home,info,insert_chart,map,search,timelapse,vpn_key */

@font-face {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/asset/font/materialsymbolsoutlined.woff2') format('woff2');
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

fieldset {
    border: 0;
    padding-left: 0px;
    margin-bottom: 5px;
}

.option_radio_indent {
    margin-top: 5px;
    margin-left: 10px;
}

.option_indent {
    margin-top: 5px;
    margin-left: 14px;
}

legend,
h2 {
    padding-left: 0px;
    font-size: 1.17em;
    font-weight: bold;
}

section header {
    font-size: 1.17em;
    font-weight: bold;
}

html,
body {
    font-family: "Lora", serif;
    margin: 0;
    padding: 0;
}

.headerfooter {
    width: 100%;
}

header .headerfooter {
    min-height: 70px;
    width: 100%;
}

#headertitle {
    font-family: "Fredericka the Great", serif;
}

#headertext {
    margin: 0 auto;
    width: 94vw;
    max-width: 960px;
}

header a:link,
header a:visited,
header a:active,
header a:hover {
    text-decoration: none;
}

.bodytext {
    width: 94vw;
    max-width: 960px;
    margin: 0 auto;
    font-size: 85%;
}

#welcome {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

#welcomewrapper {
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#welcomecontainer {
    max-width: 87vw;
    margin: 0 auto;
}

.welcomecontent {
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

#welcometext {
    padding-bottom: 20px;
    font-size: 150%;
}

#map {
    width: 100%;
    height: 94vh;
    max-width: 960px;
    max-height: 640px;
}

h1 {
    text-align: center;
    font-size: 175%;
}

.warning {
    color: #BE3A34;
    /* Pantone 180 C */
}

#footertext {
    text-align: center;
}

.headericon,
.headericonfill,
.keyiconfill,
.mapicon,
.statisticsicon,
.welcomeicon,
.welcomeiconfill {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.headericon {
    font-size: 30px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

.headericonfill {
    font-size: 30px;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

#headernavigationpart {
    display: flex;
    align-items: center;
}

.headernavigationpartpart {
    margin-top: 4px;
}

.keyiconcontainer {
    margin: 2px 2px 2px 2px;
    width: 30px;
    vertical-align: middle;
    display: inline-block;
}

.keyiconfill {
    font-size: 14px;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20;
    vertical-align: middle;
}

.mapicon {
    color: black;
    font-size: 28px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    margin-top: 1px;
}

.statisticsicon {
    color: black;
    font-size: 28px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    margin-top: -2px;
    vertical-align: middle;
}

.welcomeiconcontainer {
    width: 120px;
    text-align: center;
    margin: 0 auto;
}

.welcomeiconcontainer:link,
.welcomeiconcontainer:visited,
.welcomeiconcontainer:active,
.welcomeiconcontainer:hover {
    text-decoration: none;
}

.welcomeicon {
    font-size: 100px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

.welcomeiconfill {
    font-size: 100px;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

div.dt-container div.dt-layout-row {
    margin: 0.35em 0 !important;
}

@media screen {
    .headerfooter {
        background-color: #003A70;
        /* Pantone 654 C */
        color: white;
    }

    .headericon,
    .headericonfill,
    .keyiconfill {
        color: white;
    }

    .welcomecontent {
        background: rgba(255, 251, 247, 0.85);
        color: #003A70;
        /* Pantone 654 C */
    }

    .welcomeiconcontainer:link,
    .welcomeiconcontainer:visited,
    .welcomeiconcontainer:active,
    .welcomeiconcontainer:hover {
        color: #003A70;
        /* Pantone 654 C */
    }

    header a:link,
    header a:visited,
    header a:active,
    header a:hover {
        color: white;
    }

    footer a:link,
    footer a:visited,
    footer a:active,
    footer a:hover {
        color: white;
    }

    table.dataTable thead tr {
        background-color: #003A70;
        /* Pantone 654 C */
        color: white;
    }

    table.dataTable.stripe>tbody>tr:nth-child(2n+1)>*,
    table.dataTable.display>tbody>tr:nth-child(2n+1)>* {
        background-color: #EFEFEE !important;
    }

    table.dataTable.stripe>tbody>tr:nth-child(2n)>*,
    table.dataTable.display>tbody>tr:nth-child(2n)>* {
        background-color: #E0DFDD !important;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    #footertext {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    footer {
        margin-top: auto;
    }
}

@media print {
    html,
    body {
        background-color: white;
    }

    #welcome {
        display: none;
    }

    .headerfooter {
        background-color: white;
        color: black;
    }

    .headericon,
    .headericonfill,
    .keyiconfill {
        color: black;
    }

    .welcomecontent {
        background-color: white;
        color: black;
    }

    a:link,
    a:visited,
    a:active,
    a:hover {
        color: black;
    }

    table.dataTable thead tr {
        background-color: white;
        color: black;
    }

    table.dataTable tr {
        background-color: white !important;
    }

    table.dataTable th,
    td {
        border: 1px solid black !important;
        border-spacing: 0px !important;
        border-collapse: collapse !important;
    }
}

@media screen and (max-width: 689px) {
    .bodytext {
        font-size: 85%;
    }

    #headertext {
        width: 94vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    #headertitle {
        font-size: 8vw;
        text-align: center;
        margin-top: 2vw;
        margin-bottom: 2vw;
        width: 94vw;
    }

    #headernavigation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 2vw;
    }

    #welcometext {
        font-size: 125% !important;
    }
}

@media print and (max-width: 1019px),
screen and (min-width: 690px) {
    #headertext {
        height: 70px;
        width: 94vw;
        max-width: 960px;
        margin: 0 auto;
    }

    .bodytext {
        font-size: 90%;
    }

    #headertitle {
        float: left;
        font-size: 200%;
        margin-top: 15px;
    }

    #headernavigation {
        float: right;
    }

    #headernavigationpart {
        height: 70px;
    }
}

@media (max-width: 1019px) {
    table.dataTable th {
        white-space: normal !important;
    }

    .tablewrap {
        overflow-x: auto;
    }
}

/* Map */

.leaflet-control {
    font-family: "Lora", serif;
}

.info,
.info2,
.infolegend,
.downloadbox {
    padding: 6px 8px;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info,
.info2,
.downloadbox {
    max-width: 37vw;
}

.downloadbox {
    display: none;
}

.timelapsebox {
    display: none;
}

.leaflet-control-timelapse {
    margin-left: 5px;
}

#subselect {
    margin: 0 auto;
    text-align: center;
}

.togglebox {
    display: none;
}

#primarybox {
    display: inherit;
}

#mapinfo {
    display: grid;
    grid-template-columns: minmax(10px, auto) minmax(10px, auto);
}

.mapwidth {
    font-weight: bold;
    margin-right: 10px;
}

/* Search */

.option_select {
    display: none;
}

#option_event {
    display: inherit;
}

#forms_event {
    display: inherit;
}

.form_select {
    display: none;
}

#form_event_government {
    display: inherit;
}

#form_government_government {
    display: inherit;
}

#form_location_address {
    display: inherit;
}

#form_adjudication_number {
    display: inherit;
}

#form_law_reference {
    display: inherit;
}

.required.not-full {
    background-color: #d4a8a5;
}

input.required {
    background-color: #d4a8a5;
}

.forselectize {
    vertical-align: 60%;
}

.selectize-control {
    display: inline-block;
}

.selectize-input {
    margin-bottom: 8px;
}

.selectize-input:focus {
    border-color: black;
    border-width: 2px;
}

.focus {
    border-color: black !important;
    border-width: 2px !important;
}

.submitbutton {
    font-family: "Lora", serif;
    font-size: 100%;
    padding: 8px;
    width: 80px;
    border-radius: 3px;
    font-weight: bold;
}

/* Statistics */

.parameter {
    display: table;
}

.parameter-line {
    display: table-row;
}

.parameter-type {
    font-weight: bold;
    display: table-cell;
    padding-right: 15px;
}

.parameter-value {
    display: table-cell;
}

.statisticskey {
    background: #003A70;
    width: 20px;
    display: inline-block;
    height: 100%;
}

/* Status */

.statuskey {
    width: 20px;
    display: inline-block;
    height: 100%;
    opacity: 0.3;
}